<%@ Control Language="C#" AutoEventWireup="true" CodeFile="logintop.ascx.cs" Inherits="logintop" %>
<link href="Styles/style.css" rel="stylesheet" type="text/css" />

<%--<script language="javascript" type="text/javascript">
history.back();
</script>--%>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="231"><img alt="Logo" height="78" src="Images/logo.gif" width="231" /></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><img alt="" height="44" src="Images/pix.gif" width="1" /></td>
  </tr>
    <tr>
        <td class="pagehead" colspan="2">
            <asp:Label ID="lblHeadText" runat="server" Text="Manager Dashboard"></asp:Label></td>
    </tr>
  </table>