﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Mobile.aspx.cs" Inherits="Mobile" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="mobile/css/style.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mobile</title>    
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="mobile/css/jquery.mobile.css">
<script src="mobile/js/jquery-1.8.2.min.js"></script>
<script src="mobile/js/jquery.mobile-1.2.0.min.js"></script>
<style>
   .ui-page{ background:#81a7ce !important;}
   </style>
</head>
<body >
    <form id="form1" runat="server" >

 
   <!-- <div style="text-align:center;vertical-align:middle;">
    <table style="width:70%; margin-top:20px" cellpadding="0" cellspacing="0" border="0" align="center">
      <tr>
        <td align="left"><a href="#" style="color:inherit; text-decoration:none; display:block"><img src="Images/Sline_Logo.png" alt="Sline" align="absmiddle" id="Sline" style="margin-right:20px;"/><span style="float:right; margin-top:18px"> Sline</span></a></td>
      </tr>
      <tr>
        <td align="left"><a href="#" style="color:inherit; text-decoration:none; display:block"><img src="Images/Sutter_Logo.png" alt="Sutter" align="absmiddle" id="Sutter"  style="margin-right:20px;"/><span style="float:right; margin-top:18px"> Sutter</span></a></td>
      </tr>
      <tr>
        <td align="left"><a href="#" style="color:inherit; text-decoration:none; display:block"><img src="Images/Empire_Logo.png" alt="Empire" align="absmiddle" id="Empire" style="margin-right:20px;"/><span style="float:right; margin-top:18px"> Empire</span></a></td>
      </tr>      
    </table>
    </div>-->
    
<div class="ui-grid-a" >    
    <div class="ui-block-a"><div class="ui-bar ui-bar-b" style="height:60px "><a href="http://www.slinetransport.com/etransport/mobile/login.aspx" ><img src="Images/Sline_Logo.png" alt="Sline" align="absmiddle" id="Img1" height="45" width="45" /> </a></div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-b" style="height:60px; text-align:center; line-height:60px;">Sline</div></div>   
</div>
<div class="ui-grid-a">
    <div class="ui-block-a"><div class="ui-bar ui-bar-b" style="height:60px"><a href="http://www.suttertransportation.com/etransport/mobile/login.aspx" ><img src="Images/Sutter_Logo.png" alt="Sline" align="absmiddle" id="Img2" height="45" width="45" /></a></div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-b" style="height:60px; text-align:center; line-height:60px;">Sutter</div></div>
</div>
<div class="ui-grid-a">
    <div class="ui-block-a"><div class="ui-bar ui-bar-b" style="height:60px"><a href="http://www.empiretpt.com/etransport/mobile/login.aspx" ><img src="Images/Empire_Logo.png" alt="Sline" align="absmiddle" id="Img3" height="45" width="45" /></a></div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-b" style="height:60px; text-align:center; line-height:60px;">Empire</div></div>
</div>

    </form>
    
</body>
</html>