<%@ Page Language="C#" MasterPageFile="~/Manager/MasterPage.master" AutoEventWireup="true" CodeFile="LoadswithPaperworkPending.aspx.cs" Inherits="Manager_LoadswithPaperworkPending" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table id="ContentTbl" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr valign="top">
            <td>
 <table  border="0" cellpadding="0" cellspacing="0" style="font-family: Arial, sans-serif;
        color: #4D4B4C; font-size: 12px; height: 1px;" width="100%" id="Table1">
        <tr><td>
         &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<asp:RadioButton ID="RadDriver" runat="server" Text="  Drivers "  AutoPostBack="True" OnCheckedChanged="RadDriver_CheckedChanged" GroupName="driverorcarrier"/>
                            &nbsp; &nbsp;<asp:RadioButton ID="RadCarrier" runat="server" Text="  Carriers " AutoPostBack="True"  OnCheckedChanged="RadCarrier_CheckedChanged" GroupName="driverorcarrier"/>
                            &nbsp; &nbsp;<asp:RadioButton ID="RadAll" runat="server" Text="  All " AutoPostBack="True"  OnCheckedChanged="RadAll_CheckedChanged" GroupName="driverorcarrier" Checked="True"/>
                            &nbsp; &nbsp;<asp:DropDownList ID="ddlDriverorCarrier" runat="server" Visible="false">
                            </asp:DropDownList>
                            <asp:Button ID="btnSearch" runat="server" CssClass="btnstyle" Text="Search"  OnClick="btnSearch_Click" Width="51px" CausesValidation="False" />
 
    </td>
    </tr>
    </table>
    </td>
        </tr>
    </table>
</asp:Content>

