<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage"%>
<%@ Register Src="~/UserControls/bottom.ascx" TagName="bottom" TagPrefix="uc2" %>
<%@ Register Src="~/Manager/top.ascx" TagName="top" TagPrefix="uc1"  %>

 <html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>S Line Transport Inc</title>
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <meta content="revealTrans(Duration=0.5)" http-equiv="Page-Enter">
    <meta content="revealTrans(Duration=0.5)" http-equiv="Page-Exit">    
    <meta http-equiv-EQUIV="PRAGMA" content="NO-CACHE">
     <META name="DownloadOptions" content="noopen">   
    <link href="../Styles/style.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/OwnStyle.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="../mm_menu.js"></script>
    <script type="text/javascript">
spe=500;
na=document.all.tags("blink");
swi=1;
bringBackBlinky();
function bringBackBlinky() {
if (swi == 1) {
sho="visible";
swi=0;
}
else {
sho="hidden";
swi=1;
}
for(i=0;i<na.length;i++) {
na[i].style.visibility=sho;
}
setTimeout("bringBackBlinky()", spe);
}
</script>
    <style>
        .body-min-height{min-height: calc(100vh - 35px);}
    </style>
    </head>
<body leftmargin="0" topmargin="0">
<%--<script language="JavaScript1.2">mmLoadMenus();</script>
--%>    <form id="form1" runat="server">
    <div align="left"  class= "body-min-height">
    <table cellspacing="0" cellpadding="0" width="100%" >
    <tr valign="top">
        <td>
            <uc1:top ID="Top1" runat="server" />           
        </td>
    </tr>
    </table>
        <asp:contentplaceholder id="ContentPlaceHolder1" runat="server">
        </asp:contentplaceholder>
       
    </div>
     <div style="text-align: center; display:block; width:100%; float:left;" align="left">
            <div style="text-align: center">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left" width="100%">
                            <uc2:bottom ID="Bottom1" runat="server" />
                            
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</body>
</html>
