<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MobileMenu.ascx.cs" Inherits="Mobile_MobileMenu" %>
 <h3 class="loads-head" id="h3Subtitle" runat="server"></h3>
      <div data-role="navbar" class="tabs">
        <ul>
          <li>
          <asp:LinkButton ID="linkmyLoads"  runat="server" rel="external" CssClass="ftsz" OnClick="linkmyLoads_click"> <span class="ftsz">My Loads</span></asp:LinkButton>
          </li>
          <li>
          <asp:LinkButton ID="lnkpageworks" rel="external" runat='server' CssClass="act ftsz" OnClick="lnkpageworks_click"><span class="ftsz">Paper Work Pending</span></asp:LinkButton>
          </li>
        </ul>
      </div>