<%@ Control Language="C#" AutoEventWireup="true" CodeFile="bottom.ascx.cs" Inherits="bottom" %>
<link href="../Styles/style.css" rel="stylesheet" type="text/css" />
<table width="100%" border="0" cellpadding="0" cellspacing="0" id="copyright">
  <tr>
    <td>&copy; Copyright <asp:Label ID="lblCompanyName" runat="server" Text=""/> All rights reserved.</td>
  </tr>
</table>