<%@ Control AutoEventWireup="true" CodeFile="LinksBar.ascx.cs" Inherits="LinksBar"
    Language="C#" %>
<link type="text/css" href="../Styles/OwnStyle.css" rel="stylesheet" />

<script type="text/javascript" language="javascript">
   function DisplayMsg()
    {      
      alert('Please fill above details to add contact');       
    }
</script>

<table cellpadding="0" cellspacing="0" border="0" width="100%"  id="GridBar">
<tr>
    <td style="height: 22px">
        <asp:Label ID="lblText" runat="server"></asp:Label>
    </td>
    <td align="right" style="height: 22px">
        <asp:PlaceHolder ID="plhLinks" runat="server"></asp:PlaceHolder>
        &nbsp;
    </td>
</tr>
</table>

