<%@ Control AutoEventWireup="true" CodeFile="LoadReceivables.ascx.cs" Inherits="LoadReceivables"
    Language="C#" %>
<link href="../Styles/style.css" rel="stylesheet" type="text/css" />          
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>
            <asp:Label ID="lblDisplay" runat="server"></asp:Label></td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>
            <img alt="" height="5" src="../images/pix.gif" width="1" /></td>
    </tr>
</table>
<asp:Panel ID="pnlButton" runat="server" Width="100%">
<table id="tblBottomBar" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="right">
            <asp:Button ID="btnBackPage" runat="server" CssClass="btnstyle" OnClick="btnBackPage_Click"
                Text="Back" />
        </td>
    </tr>
</table>
</asp:Panel>
     
