<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MsgDispBar.ascx.cs" Inherits="MsgDispBar" %>
<link type="text/css" href="../Styles/OwnStyle.css" rel="stylesheet" />

<script type="text/javascript" language="javascript">
   function DisplayMsg()
    {      
      alert('Please fill above details to add contact');       
    }
</script>

<table cellpadding="0" cellspacing="0" border="0" width="100%"  id="GridBar">
<tr>
    <td style="height: 22px">
        <asp:Label ID="lblText" runat="server"></asp:Label>
    </td>
    <td align="right" style="height: 22px">
        <asp:LinkButton ID="lnlLink" runat="server" Text="" Visible="false" CausesValidation="False"></asp:LinkButton> 
        <asp:LinkButton ID="lnkMsg" runat="server" Text="" Visible="false" OnClick="lnkMsg_Click" CausesValidation="False"></asp:LinkButton>
    </td>
</tr>
</table>

