<%@ Control AutoEventWireup="true" CodeFile="TimePicker.ascx.cs" Inherits="TimePicker"
    Language="C#" %>
    <script type="text/javascript" language="javascript">
       
    </script>
<asp:TextBox ID="txtHour" runat="server" Width="30px" MaxLength="2"></asp:TextBox>
<asp:DropDownList ID="ddlHour" runat="server" Visible="false"> 
<asp:ListItem Selected="True">01</asp:ListItem> 
<asp:ListItem>02</asp:ListItem> 
<asp:ListItem>03</asp:ListItem>  
<asp:ListItem>04</asp:ListItem> 
<asp:ListItem>05</asp:ListItem>  
<asp:ListItem>06</asp:ListItem> 
<asp:ListItem>07</asp:ListItem>  
<asp:ListItem>08</asp:ListItem> 
<asp:ListItem>09</asp:ListItem>  
<asp:ListItem>10</asp:ListItem> 
<asp:ListItem>11</asp:ListItem>  
<asp:ListItem>12</asp:ListItem>  
</asp:DropDownList>
:
<asp:TextBox ID="txtMin" runat="server" Width="34px" MaxLength="2"></asp:TextBox>
<asp:DropDownList ID="ddlMin" runat="server" Visible="false">    
<asp:ListItem Selected="True">00</asp:ListItem> 
<asp:ListItem>01</asp:ListItem> 
<asp:ListItem>02</asp:ListItem> 
<asp:ListItem>03</asp:ListItem>  
<asp:ListItem>04</asp:ListItem> 
<asp:ListItem>05</asp:ListItem>  
<asp:ListItem>06</asp:ListItem> 
<asp:ListItem>07</asp:ListItem>  
<asp:ListItem>08</asp:ListItem> 
<asp:ListItem>09</asp:ListItem>  
<asp:ListItem>10</asp:ListItem> 
<asp:ListItem>11</asp:ListItem> 
<asp:ListItem>12</asp:ListItem> 
<asp:ListItem>13</asp:ListItem>  
<asp:ListItem>14</asp:ListItem> 
<asp:ListItem>15</asp:ListItem>  
<asp:ListItem>16</asp:ListItem> 
<asp:ListItem>17</asp:ListItem>  
<asp:ListItem>18</asp:ListItem> 
<asp:ListItem>19</asp:ListItem>  
<asp:ListItem>20</asp:ListItem> 
<asp:ListItem>21</asp:ListItem> 
<asp:ListItem>22</asp:ListItem> 
<asp:ListItem>23</asp:ListItem>  
<asp:ListItem>24</asp:ListItem> 
<asp:ListItem>25</asp:ListItem>  
<asp:ListItem>26</asp:ListItem> 
<asp:ListItem>27</asp:ListItem>  
<asp:ListItem>28</asp:ListItem> 
<asp:ListItem>29</asp:ListItem> 
<asp:ListItem>30</asp:ListItem> 
<asp:ListItem>31</asp:ListItem> 
<asp:ListItem>32</asp:ListItem> 
<asp:ListItem>33</asp:ListItem>  
<asp:ListItem>34</asp:ListItem> 
<asp:ListItem>35</asp:ListItem>  
<asp:ListItem>36</asp:ListItem> 
<asp:ListItem>37</asp:ListItem>  
<asp:ListItem>38</asp:ListItem> 
<asp:ListItem>39</asp:ListItem> 
<asp:ListItem>40</asp:ListItem> 
<asp:ListItem>41</asp:ListItem> 
<asp:ListItem>42</asp:ListItem> 
<asp:ListItem>43</asp:ListItem>  
<asp:ListItem>44</asp:ListItem> 
<asp:ListItem>45</asp:ListItem>  
<asp:ListItem>46</asp:ListItem> 
<asp:ListItem>47</asp:ListItem>  
<asp:ListItem>48</asp:ListItem> 
<asp:ListItem>49</asp:ListItem> 
<asp:ListItem>50</asp:ListItem> 
<asp:ListItem>51</asp:ListItem> 
<asp:ListItem>52</asp:ListItem> 
<asp:ListItem>53</asp:ListItem>  
<asp:ListItem>54</asp:ListItem> 
<asp:ListItem>55</asp:ListItem>  
<asp:ListItem>56</asp:ListItem> 
<asp:ListItem>57</asp:ListItem>  
<asp:ListItem>58</asp:ListItem> 
<asp:ListItem>59</asp:ListItem> 
</asp:DropDownList>
<asp:DropDownList ID="dropAM" runat="server">
    <asp:ListItem Selected="True">AM</asp:ListItem>
    <asp:ListItem>PM</asp:ListItem>
</asp:DropDownList>
<asp:RangeValidator ID="RngValHour" runat="server" ControlToValidate="txtHour" ErrorMessage="Enter Valid Hours."
    MaximumValue="12" MinimumValue="1" Type="Integer" Display="Dynamic">*</asp:RangeValidator><asp:RangeValidator ID="RngValMin" runat="server" ControlToValidate="txtMin" ErrorMessage="Enter Valid Minutes."
    MaximumValue="59" MinimumValue="0" Type="Integer" Display="Dynamic">*</asp:RangeValidator>
    <asp:RequiredFieldValidator ID="ReqValHours" runat="server" ControlToValidate="txtHour" Display="Dynamic"
        ErrorMessage="Enter Hours.">*</asp:RequiredFieldValidator><asp:RequiredFieldValidator
        ID="ReQValMin" runat="server" ControlToValidate="txtMin" Display="Dynamic" ErrorMessage="Enter Minutes.">*</asp:RequiredFieldValidator>
