<%@ Control AutoEventWireup="true" CodeFile="Drivertop.ascx.cs" Inherits="Driverrtop"
    Language="C#" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>S Line Transport Inc</title>
<link href="../Styles/style.css" rel="stylesheet" type="text/css"/>
<script language="JavaScript" type="text/javascript" src="../mm_menu.js"></script>
</head>
 
<BODY>
<script language="JavaScript1.2">mmLoadMenus();</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
  <tr>
    <td width="231"><img src="../Images/logo.gif" alt="Logo" width="231" height="78" /></td>
    <td valign="bottom"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="background:#4C4C4C;">
      <tr>
        <td width="100%">&nbsp;</td>
        <td width="100">
            <a href="DriverDashBoard.aspx">
                <img id="Img3" alt="Loads" border="0" height="32" name="image1" src="../Images/loads.gif"
                    width="70" /></a></td>
        <td width="124">
            <a href="DriverPayments.aspx">
                <img id="Img4" alt="Payments" border="0" height="32" name="image2" src="../Images/payments.gif"
                    width="124" /></a></td>          
        </tr>
    </table></td>
  </tr>
  <tr>
    <td class="welcome1" colspan="2">
        Welcome ! &nbsp;<asp:Label ID="lblUserId" runat="server" Text=""></asp:Label>, &nbsp;
        <asp:LinkButton ID="lnlLogOut" runat="server" CausesValidation="false" OnClick="lnlLogOut_Click">Logout</asp:LinkButton> </td>
  </tr>  
  <tr>
    <td colspan="2" class="pagehead">
        <asp:Label ID="lblHeadText" runat="server" Text="Driver Dashboard"></asp:Label></td>
  </tr>
 </tbody>
</table>
</BODY>
</html>