 @media(min-width:320px) {
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
 display: block;
}
a {
 text-decoration: none;
 color: none;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
.wrapper {
 width: 100%;
 margin: 10px auto;
}
.wrapper .logo {
 width: 100%;
}
.wrapper .logo img {
 margin: 0 0 0 0%;
 float:left;
}
.wrapper .login-page {
 background: #e3f0f9;
 padding: 10%;
 float: left;
 width: 79%;
}
.wrapper .login-page p {
 line-height: 35px;
}
label.error {
 color: red;
 font-size: 16px;
 font-weight: normal;
 line-height: 1.4;
 margin-top: 0.5em;
 width: 100%;
 float: none;
}
 @media screen and (orientation: portrait) {
 label.error {
margin-left: 0;
display: block;
}
}
 @media screen and (orientation: landscape) {
label.error {
 display: inline-block;
 margin-left: 22%;
}
}
em {
 color: red;
 font-weight: bold;
 padding-right: .25em;
}
.backbtn {
 margin-top: 40px !important;
}
.left-conte ul li span {
 font-size: 18px;
}
.left-conte ul {
 margin: 2% 0% 0% 1%;
 line-height: 25px;
}
.red {
 color: red;
}
.green {
 color: green;
}
.loads-head {
 background: #e1f5ff;
 
 color: #000;
 font-size: 15px;
 line-height: 26px;
 padding: 5px 15px;
 margin-left:-15px;
 margin-bottom:10px;
 width:101%;
 border-top:1px solid #CCC;
 border-bottom:1px solid #CCC;
}
.rigt-cot2 ul li {
 text-align: center;
}
.logo h1 {
color: #01335e !important;
text-shadow:1px 0 0 #FFF;
 font-size: 20px;
 padding-top: 18px;;
}
.left-cot2 {
margin-left:-17px;
width:112%;
}
.left-cot2 p {
 font-size: 18px;
 margin-top: 10px;
 margin-left: 3px;
 background: #CCC;
 padding: 11px;
 color:#222;
}
.lft-details {
 width: 46%;
 float: left;
}
.main-details {
 padding: 5%;
 line-height: 28px;
 margin-bottom: 2px;
 border: 1px solid #6a889c;
 margin-top: 11px;
 border-radius: 8px;
}
.orange {
 color: #f99219;
}
.bor {
 border: 1px solid #ccc;
 margin: 2px;
 padding: 2px;
}
.wdt {
 width: 64% !important;
}
.head {
 background: url(../images/headBg.png) repeat-x left bottom !important;
}
.lists a {
margin: 14px 0 15px 3px;
}
.bill {
float: left;
 font-size: 18px;
 padding: 15px 8px;
 width: 53%;
}
.imgs {
float: left;
 margin: 1px 1px 5px 0;
 padding: 5px 9px;
 width: 53%;
}
 label.error {
 color: red;
 font-size: 16px;
 font-weight: normal;
 line-height: 1.4;
 margin-top: 0.5em;
 width: 100%;
 float: none;
}
 @media screen and (orientation: portrait) {
 label.error {
margin-left: 0;
display: block;
}
}
 @media screen and (orientation: landscape) {
 label.error {
display: inline-block;
margin-left: 22%;
}
}
 em {
color: red;
font-weight: bold;
padding-right: .25em;
}
.fl-right {
float:right;
}
.tabs {
border-radius: 10px;
 margin-bottom: 1%;
 margin-top: 1%;
}
 .footer {
font-size: 12px;
}
.act {
background: linear-gradient(#85BAE4, #5393C5) repeat scroll 0 0 #4596CE!important;
}
 .ftsz {
font-size: 13px;
}
}
.address-details{ display:block; clear:both; width:100%;}
.block{ width:100%; float:left; display:block; clear:both;}
.f12{ font-size:12px !important; font-weight:normal !important;}
.errormsg{ background:#FE5B49; color:#FFF !important; padding: 5px 15px; margin-left:-15px; margin-bottom:10px; width:101%;}
.errormsg p{ color:#FFF !important; padding:0px; margin:0; line-height:normal; font-size:12px;}
.sucessmsg{ background:#73E600; color:#FFF !important; padding: 5px 15px; margin-left:-15px; margin-bottom:10px; width:101%;}
.sucessmsg p{ color:#FFF !important; padding:0px; margin:0; line-height:normal; font-size:12px;}