.text1 {
	font-family:Arial;
	font-size:9px;
	font-weight:bold;
}
.container {
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	color:White;
}
.text {
	font-family:Arial;
	font-size:8px;
}
.tblbg {
	background-color:White;
}