/* CSS Document */

.background-image {
	background-repeat:no-repeat;
	background-image:url(img_toper.gif);
	width:361px;
	height:65px;
}
.border-bottom {
	border-bottom:solid 0px;
	border-bottom-color:#000000;
	font-family:"Times New Roman", Times, serif;
	font-size:9px;
	padding-left:15px;
}
.background-color {
	/*width:311px;*/
	background-color:#ffffff;
	border-bottom:solid 0px;
	border-bottom-color:#000000;
	font-family:"Times New Roman", Times, serif;
	font-size:9px;
	color:#000000;
	padding-left:12px;
}
.background-color1 {
	/*width:138px;*/
	background-color:#ffffff;
	border-bottom-color:#000000;
	border-bottom:solid 0px;
	border-left:solid 0px;
	border-left-color:#000000;
	font-family:"Times New Roman", Times, serif;
	font-size:9px;
	color:#000000;
	padding-left:2px;
}
.background-color2 {
	/*width:173;*/
	background-color:#ffffff;
	border-bottom-color:#000000;
	border-bottom:solid 0px;
	font-family:"Times New Roman", Times, serif;
	font-size:9px;
	color:#000000;
	padding-left:14px;
}
.image-footer {
	background-repeat:no-repeat;
	background-image:url(img_footer.gif);
	width:311px;
	height:25px;
}
.text {
	border-bottom:solid 0px;
	border-bottom-color:#000000;
	font-family:"Times New Roman", Times, serif;
	font-size:9px;
	padding-left:3px;
	padding-top:9PX;
	
}
.background-image1 {
	background-repeat:no-repeat;
	background-image:url(img_curve.gif);
	width:361px;
	height:14px;
}
.text1 {
	background-color:#ffffff;
	border-bottom:solid 0px;
	border-bottom-color:#000000;
	font-family:"Times New Roman", Times, serif;
	font-size:9px;
}
.left-border {
	border-left:solid 0px;
	border-left-color:#000000;
	font-family:"Times New Roman", Times, serif;
	font-size:9px;
	padding-left:2px;
}
.text2 {
	font-family:"Times New Roman", Times, serif;
	font-size:11px;
	font-weight:bold;
}
.background-image2 {
	background-repeat:no-repeat;
	background-image:url(img_curve1.gif);
	width:498px;
	height:39px;
}
.image-footer1 {
	background-repeat:no-repeat;
	background-image:url(img_footer1.gif);
	width:450px;
	height:25px;
}
.text3 {
	font-family:"Times New Roman", Times, serif;
	font-size:9px;
	padding-left:12PX	
}





