.text1 {
	font-family:"Times New Roman", Times, serif;
	font-size:11px;
	font-weight:bold;
	vertical-align:middle;
	color:#000000;
}
.container {
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	font-weight:bold;
	vertical-align:middle;
	color:#000000;
}
.text {
	font-family:"Times New Roman", Times, serif;
	font-size:8px;
}
.tblbg {
	background-color:#ffffff;
}