﻿#GridBar 
{
	BORDER-RIGHT: #094a72 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #094a72 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../Images/TblHead.gif); BORDER-LEFT: #094a72 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #094a72 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px
}
#GridBar A {
	COLOR: #ffff66
}
#GridBar A:hover {
	COLOR: #99ff00
}

#BlueBar 
{
	BORDER-RIGHT: #094a72 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #094a72 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../Images/TblHead_blue.gif); BORDER-LEFT: #094a72 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #094a72 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px
}
#BlueBar A {
	COLOR: #ffff66
}
#BlueBar A:hover {
	COLOR: #99ff00
}


#violetBar 
{
	BORDER-RIGHT: #094a72 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #094a72 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../Images/TblHead_violet.gif); BORDER-LEFT: #094a72 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #094a72 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px
}
#violetBar A {
	COLOR: #ffff66
}
#violetBar A:hover {
	COLOR: #99ff00
}


#maroonBar 
{
	BORDER-RIGHT: #094a72 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #094a72 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../Images/TblHead_maroon.gif); BORDER-LEFT: #094a72 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #094a72 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px
}
#maroonBar A {
	COLOR: #ffff66
}
#maroonBar A:hover {
	COLOR: #99ff00
}


#tealBar 
{
	BORDER-RIGHT: #094a72 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #094a72 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../Images/TblHead_teal.gif); BORDER-LEFT: #094a72 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #094a72 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px
}
#tealBar A {
	COLOR: #ffff66
}
#tealBar A:hover {
	COLOR: #99ff00
}


#yellowBar 
{
	BORDER-RIGHT: #094a72 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #094a72 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../Images/TblHead_yellow.gif); BORDER-LEFT: #094a72 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #094a72 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px
}
#yellowBar A {
	COLOR: #ffff66
}
#yellowBar A:hover {
	COLOR: #99ff00
}

#orangeBar 
{
	BORDER-RIGHT: #094a72 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #094a72 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../Images/TblHead_orange.gif); BORDER-LEFT: #094a72 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #094a72 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px
}
#orangeBar A {
	COLOR: #ffff66
}
#orangeBar A:hover {
	COLOR: #99ff00
}

#goldBar 
{
	BORDER-RIGHT: #094a72 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #094a72 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../Images/TblHead_gold.gif); BORDER-LEFT: #094a72 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #094a72 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px
}
#goldBar A {
	COLOR: #ffff66
}
#goldBar A:hover {
	COLOR: #99ff00
}



#tbldisplay A {
	COLOR: #ba5403
}
#tbldisplay A:hover {
	COLOR: #f97501
}
#tbldisplay {
	BORDER-TOP: #777777 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #777777 1px solid; COLOR: #4d4d4b; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#tbldisplay TH {
	BORDER-RIGHT: #787878 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../Images/thbgr.gif); COLOR: #000000; BORDER-BOTTOM: #787878 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 28px; TEXT-ALIGN: left
}
#tbldisplay #row TD {
	BORDER-RIGHT: #787878 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #4d4b4c; PADDING-TOP: 3px; BORDER-BOTTOM: #787878 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #f3f8fc
}


.Grid A {
	COLOR: #ba5403
}
.Grid A:hover {
	COLOR: #f97501
}
.Grid {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4B;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #777777;
	border-left-color: #777777;
}
.GridHeader 
{
	BORDER-RIGHT: #787878 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../Images/thbgr.gif); COLOR: #000000; BORDER-BOTTOM: #787878 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: left
}
.GridHeader1 
{
	BORDER-RIGHT: #787878 1px solid; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../Images/thbgr.gif); COLOR: #000000; BORDER-BOTTOM: #787878 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: center; word-wrap: normal;
}
.GridItem
{
	BORDER-RIGHT: #787878 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; COLOR: #4d4b4c; PADDING-TOP: 3px; BORDER-BOTTOM: #787878 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #f3f8fc
}
.GridAltItem{
	BORDER-RIGHT: #787878 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #4d4b4c; PADDING-TOP: 0px; BORDER-BOTTOM: #787878 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.GridPage{
	BORDER-RIGHT: #787878 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #4d4b4c; PADDING-TOP: 0px; BORDER-BOTTOM: #787878 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.redrow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #FFA8A8;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.yellowrow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #FFFF99;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.orangerow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	/*background-color:#ECB977;*/
	background-color:Orange;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.greenrow
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #8DC97C;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.skybluerow {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #BBDDFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.hazmatrow
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #cac1a6;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/*.Grid 
{

	BORDER-TOP:1px solid ; FONT-SIZE: 12px; BORDER-LEFT: #777777 1px solid; COLOR: #4d4d4b; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.GridHeader 
{
	border-color:Black; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../Images/thbgr.gif); COLOR: #000000; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: left
}
.GridItem
{
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #777777;
	border-left-color: #777777;
	border-color:Black; PADDING-RIGHT: 5px; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #4d4b4c; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #f3f8fc
}
.GridAltItem
{
	border-color:Black;
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #4d4b4c; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}*/

.labelstyle
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}

#SearchPanel {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #999999 1px solid; COLOR: #4b4b4b; PADDING-TOP: 5px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e1e1e1
}
#SearchPanel TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 10px; BORDER-TOP: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px; COLOR: #4b4b4b; PADDING-TOP: 5px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e2e2e2
}

.buttonnstyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	background-image: url(Images/btnbgr.gif);
	background-repeat: repeat-x;
	border: 1px solid #0A4B73;
	height: 22px;
}

#BottomBar {
	background-image: url(Images/tblbottombar.gif);
	background-repeat: repeat-x;
	height: 20px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	border: 1px solid #B4B4B4;
}

.grntext {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #008000;
}
.redtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #008000;
}

#tblreport {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4D4D4B;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
#tblreport #row td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4D4B4C;
	padding-right: 2px;
	padding-left: 2px;
	height: 16px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#tblreport #alt td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4D4B4C;
	font-weight:bold;	
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}


#tblformat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4B;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #777777;
	border-left-color: #777777;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #777777;
	border-bottom-style: double;
	border-bottom-color: #777777;
}
#tblformat th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #787878;
	background-image: url(../Images/thbgr.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-left: 8px;
	text-align: left;
}

#tblformat #row td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	padding-left: 3px;
	padding-top: 1px;
}
#tblformat #altrow td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	padding-left: 3px;
	padding-top: 1px;
	}
#tblformat a {
	color: #BA5403;
}
#tblformat a:hover {
	color: #F97501;
}

/*jq grid styles*/

table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
   font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4B;
	border-top: 1px solid #777777 !important;
    border-left: 1px solid #777777 !important;
	
}
    table.dataTable th, table.dataTable td {
        border-left: 1px solid #777777 !important;
    }

 table.dataTable thead th, table.dataTable thead td {
        border-bottom: 1px solid #cccccc !important;
        border-top: 1px solid #cccccc !important;
        	background-image: url(../Images/thbgr.gif);
	background-repeat: repeat-x;
    background-position:bottom;
    }

    table.dataTable td {
        padding:2px 5px !important;
    }
table.dataTable table {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4B;
}
table.dataTable table td {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px !important;
	color: #4D4D4B !important;
    background-color:inherit !important;
    border-left: 0px solid #cccccc !important;
    border-bottom:1px solid #cccccc  !important;
    border-top:0px solid #cccccc  !important;
}
    table.dataTable thead .sorting, table.dataTable thead .sorting_asc {
    background-color:aliceblue !important;
    }
    table.dataTable table tr {
        background-color:inherit !important;
    }
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
     font-family: Arial, Helvetica, sans-serif;
	font-size: 12px !important;
    padding-left:15px;
}
.btnstyle.mset{
 margin:5px !important;
}
.dataTables_filter { display: none; }
