﻿/*.pagehead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #0E8DDE;
	height: 30px;
	Padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}*/
.welcome {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: right;
	padding-right: 17px;
	vertical-align:bottom;
	height: 25px;
	padding-left: 17px;
}

.welcome1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: right;
	padding-right: 17px;
	vertical-align:middle;
	height: 25px;
	padding-left: 17px;
}

.head1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #4B4B4B;
}


.onmenu {
	background-color: #FCE945;
	height: 30px;
}
#TblHead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	height: 25px;
	padding-left: 8px;
	border: 1px solid #094A72;
	background-image: url(Images/TblHead.gif);
	padding-right: 8px;
}
#TblHead a {
	color: #FFFF66;
}
#TblHead a:hover {
	color: #99FF00;
}
#tbldisplay a {
	color: #BA5403;
}
#tbldisplay a:hover {
	color: #F97501;
}
form {
	padding: 0px;
	margin: 0px;
}

#tbldisplay {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4B;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #777777;
	border-left-color: #777777;
}
#tbldisplay th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	background-image: url(../Images/thbgr.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	height: 22px;
	padding-left: 8px;
	text-align: left;
}
#tbldisplay #row td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #F3F8FC;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
	
#tblform {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4B;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #777777;
	border-left-color: #777777;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #777777;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #777777;
}
#tblform th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #787878;
	background-image: url(../Images/thbgr.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	height: 22px;
	padding-left: 8px;
	text-align: left;
}

#tblform #row td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#tblform #altrow td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#tblform a {
	color: #BA5403;
}
#tblform a:hover {
	color: #F97501;
}

#tblform1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4B;	
}
#tblform1 th {
	background-image: url(../Images/thbgr.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	height: 22px;
	padding-left: 8px;
	text-align: left;
}

#tblform1 #row td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#tblform1 #altrow td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#tblform1 a {
	color: #BA5403;
}
#tblform1 a:hover {
	color: #F97501;
}
#loginbox {
	border: 1px solid #A3A3A3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #60625F;
	background-color: #E3F0F9;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 45px;
}
#loginbox a {
	color: #0267FD;
	text-decoration: none;
}
#loginbox a:hover {
	color: #D95107;
	text-decoration: underline;
}
#copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4D;
	background-color: #F3F3F3;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #7C7875;
	height: 34px;
	padding-left: 15px;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	border: 1px solid #999999;
	height: 18px;
}
textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	border: 1px solid #999999;
	
}
select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	border: 1px solid #999999;
	height: 20px;
}

.mandatory {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF3200;
}

.btnstyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	background-image: url(../Images/btnbgr.gif);
	background-repeat: repeat-x;
	border: 1px solid #0A4B73;
	height: 22px;
}

#globalNav{
position: relative;
width: 100%;
min-width: 640px;
height: 32px;
color: #cccccc;
padding: 0px;
margin: 0px;
background: #4C4C4C;
}

#globalLink{
	position: absolute;
	top: 6px;
	height: 30px;
	min-width: 640px;
	padding: 0px;
	margin: 0px;
	left: 10px;
	z-index: 100;
}


a.glink, a.glink:visited{
	font-family:Arial, Helvetica, sans-serif;
  	font-size: 14px;
  	color: #FFFFFF;
	font-weight: normal;
	margin: 0px;
	padding: 2px 8px 4px 8px;
	border-right: 1px solid #FFFFFF;
	text-decoration: none;
}

a.glink:hover{
  	background-image: url(file:///D|/Veeruu/Websites/S-LineTransport/Website/images/glblnav_selected.gif);
	text-decoration: none;
	background-color: #FCE945;
	color: #000000;
}

a.glinkon{
	font-family:Arial, Helvetica, sans-serif;
  	font-size: 14px;
  	background-color: #FCE945;
	color: #000000;
	font-weight: normal;
	margin: 0px;
	padding: 2px 8px 4px 8px;
	border-right: 1px solid #FFFFFF;
	text-decoration: none;
}

.skipLinks {display: none;}



/************ subglobalNav styles **************/

.subglobalNav{
	position: absolute;
	top: 120px;
	left: 328px;
	/*width: 100%;*/
	min-width: 640px;
	height: 20px;
	padding: 0px 0px 0px 10px;
	visibility: hidden;
	color: #000000;
}

.subglobalNav a:link, .subglobalNav a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #000000;
}

.subglobalNav a:hover{
	color: #D95107;
}
#ContentTbl {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4B4B4B;
	padding: 15px;
	background-color: #FFFFFF;
	height: 300px;
}
#ContentTbl1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4B4B4B;
	padding: 5px;
	background-color: #FFFFFF;
	height: 300px;
}
#tbldisplay #altrow td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#tblBottomBar {
	background-image: url(../Images/tblbottombar.gif);
	background-repeat: repeat-x;
	height: 20px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	border: 1px solid #B4B4B4;
}
.divider {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FCE945;
	padding-right: 10px;
	padding-left: 10px;
}
.radio {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#topmenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #4C4C4C;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	height: 26px;
	text-align: center;
	cursor:default;
}
#tblMenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #4C4C4C;
}
#tblMenu #mymenu {
	height: 30px;
	
}
.bltext {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #0066FF;
}
.grntext {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #008000;
}
.redtext {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #008000;
}
#tbldisplay #picked td {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #FFFFE6;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#tbldisplay #enroute td {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #FFFFAA;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#tbldisplay #dropped td {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #99CC33;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#tbldisplay #delivered td {




	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #AEFF79;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#tblbox1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #4B4B4B;
	background-color: #E1E1E1;
	padding-top: 4px;
	padding-right: 7px;
	padding-bottom:4px;
	padding-left: 10px;
	border: 1px solid #999999;
}
#tblbox1 td {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #4B4B4B;
	background-color: #E2E2E2;
	/*padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;*/
	border: 0px none;
}
#tbldisplay #red td {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #FFA8A8;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#tbldisplay #yellow td {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #FFFF99;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#tblbox1 a {
	color: #993300;
}
a:link {
	color: #6633CC;
}
.redbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #FF0000;
}
.bluebold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #0000FF;
}
.greenbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #009900;
}
#tbldisplay #skyblue  td {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #BBDDFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#tbldisplay #green  td {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4B4C;
	background-color: #8DC97C;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #787878;
	border-bottom-color: #787878;
	padding-right: 5px;
	padding-left: 8px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
